
.georgias-face {
	width: 200px;
	border-radius: 50%;
}

.about-georgia-picture {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: block;
	border-radius: 5px;
}

.portfolio-item {
	width: 100%;
	height: auto;
	padding: 0px 5px;
}

#orchestra-audio {
	display: hidden;
}

.contact-icon {
	font-size: 2em;
}